body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background: white;
  }
  
  .container {
    text-align: center;
    width: 350px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #00000050;
    background-color: #e6e6e6;
    font-size: 14px;
    padding-left: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #00000050;
    background-color: #00b7ff;
    font-size: 14px;
  }
  
  input::placeholder {
    color: black;
  }
  
  #msg {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .ok {
    color: green;
}
  .error{
    color: red;
}
.password-container {
  position: relative;
  display: block;
  width: 100%;
}

.toggle-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
}

.toggle-eye:hover {
  color: #000;
}